body {
    margin: 0px;
    margin-top: 0px;
}

/* body header {
    background-color: rgb(248, 9, 248);
} */

header {
    padding: 100px;
}

header img {
    width: 150px;
    height: 150px;
    float: right;
    padding: 15px;
    border: 1px solid black;
    margin-right: 30px;
    margin-top: 30px;
}

header h1 {
    text-align: center;
}

header ul li {
    list-style: none;
}

header .Sobremi {
    padding-right: 350px;
}

.Estudiosrealizados ul li i {
    margin-left: -20px;
    margin-right: 5px;
}


/*El tamaño de una tablet es 768px*/
@media screen and (max-width: 768px) {
    body {
        margin: 0px;
        margin-top: -30px;
        font-size: 20px;
    }

    header {
        padding: 100px;
    }

    header img {
        width: 150px;
        height: 150px;
        float: right;
        padding: 15px;
        border: 1px solid black;
        margin-right: -50%;
        margin-top: 30px;
    }

    header h1 {
        text-align: center;
    }

    header ul li {
        list-style: none;
        margin-left: -60px;
        margin-right: 10px;
    }

    header .Sobremi {
        padding-right: 100px;
        margin-left: -40px;
        margin-right: -40px;
    }

    .Estudiosrealizados ul li i {
        margin-left: -20px;
        margin-right: 5px;
    }
}

/*El tamaño de una tablet es 420px*/
@media screen and (max-width: 420px) {
    body {
        margin: 0px;
        margin-top: -30px;
        font-size: 20px;
    }

    header {
        padding: 0px;
    }

    header img {
        width: 150px;
        height: 150px;
        float: right;
        padding: 15px;
        border: 1px solid black;
        margin-right: -50%;
        margin-top: 30px;
    }

    header h1 {
        text-align: center;
    }

    header ul li {
        list-style: none;
        margin-left: -60px;
        margin-right: 10px;
    }

    header .Sobremi {
        padding-right: 100px;
        margin-left: -40px;
        margin-right: -40px;
    }

    .Estudiosrealizados ul li i {
        margin-left: -20px;
        margin-right: 5px;
    }
}