<p class="titulo">Formulario de Contacto</p>



  <div id="contactenos" class="seccion">
    <div class="container">
      <div class="row">
          <form id="formulario-contacto" [formGroup]="formulario" (ngSubmit)="enviar()">

            <div class="form-block" id="grupo-nombre">
              <input title="El nombre solo tiene letras" type="text" id="nombre" class="form-control" placeholder="Nombre" formControlName="nombre" [class.is-invalid]="nombreNoValido">
              <br>
              <small class="formulario-input-error" *ngIf="nombreNoValido">
                El nombre solo tiene letras
              </small>
            </div>

            <div class="form-block" id="grupo-email">
              <input title="Ingrese un correo valido" type="text" id="email" class="form-control" placeholder="Correo Electronico" formControlName="email" [class.is-invalid]="correoNoValido">
              <br>
              <small class="formulario-input-error" *ngIf="correoNoValido">
                El correo electronico no tiene el formato correcto
              </small>
            </div>

            <div class="form-block" id="grupo-mensaje">
              <textarea title="Ingrese solo numeros y letras" name="mensaje" id="mensaje" cols="30" rows="10" class="mensaje" placeholder="Mensaje" formControlName="mensaje" [class.is-invalid]="mensajeNoValido"></textarea>
              <br>
              <small class="formulario-input-error" *ngIf="mensajeNoValido">
                Solo numeros y letras
              </small>
            </div>

            <div class="form-block bloque-ultimo">
              <button type="submit" id="btnEnviar" class="boton boton-negro" [disabled]="formulario.invalid">Enviar</button>
            </div>
            <div class="mensajeEnviado">
              {{ mensaje }}
            </div>
          </form>
      </div>
    </div>
  </div>

